<table>
    <thead>
      <tr>
        <th>Sections</th>
        <th><button class="add-btn" (click)="router.navigate(['/categories/add'])">Add new</button></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let category of categories">
        <td>{{ category.name }}</td>
        <td>
          <button class="edit-btn" (click)="editCategory(category.id)">Edit</button>
          <button class="delete-btn" (click)="openConfirmationModal(category.id)">Delete</button>
          <button class="details-btn" (click)="elementsView(category.id)">Elements</button>
        </td>
      </tr>
    </tbody>
  </table>
  
  
<!-- Modal -->
<div class="modal" *ngIf="showModal">
    <div class="modal-content">
      <p>Are you sure?</p>
      <button class ="tak-button" (click)="confirmDeletion()">Yes</button>
      <button class ="nie-button" (click)="cancelDeletion()">No</button>
    </div>
  </div>