<table>
    <thead>
      <tr>
        <th>Sekcje</th>
        <th><button class="add-btn" (click)="router.navigate(['/categories/add'])">Dodaj</button></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let category of categories">
        <td>{{ category.name }}</td>
        <td>
          <button class="edit-btn" (click)="editCategory(category.id)">Edytuj</button>
          <button class="delete-btn" (click)="openConfirmationModal(category.id)">Usuń</button>
          <button class="details-btn" (click)="elementsView(category.id)">Elementy</button>
        </td>
      </tr>
    </tbody>
  </table>
  
  
<!-- Modal -->
<div class="modal" *ngIf="showModal">
    <div class="modal-content">
      <p>Czy na pewno chcesz usunąć tę sekcję?</p>
      <button class ="tak-button" (click)="confirmDeletion()">Tak</button>
      <button class ="nie-button" (click)="cancelDeletion()">Nie</button>
    </div>
  </div>