<div class="form-container">
    <h2>Dodaj nowy element</h2>
    <form (ngSubmit)="addElement()">
      <label for="elementName">Nazwa elementu:</label>
      <input
        id="elementName"
        type="text"
        [(ngModel)]="elementName"
        name="elementName"
        required
      />
      <label for="elementPrice">Cena:</label>
      <input
        id="elementPrice"
        type="number"
        [(ngModel)]="elementPrice"
        name="elementPrice"
        required
        step="1"
        min="1"
      />
      <div class="buttons">
        <button type="submit">Dodaj</button>
        <button type="button" (click)="router.navigate(['/categories'])">
          Anuluj
        </button>
      </div>
    </form>
  </div>
  