<div class="form-container">
    <h2>Edit category</h2>
    <form (ngSubmit)="updateCategory()">
      <label for="categoryName">Name of category:</label>
      <input
        id="categoryName"
        type="text"
        [(ngModel)]="categoryName"
        name="categoryName"
        required
      />
      <label for="categoryDescription">Description:</label>
      <input
        id="categoryDescription"
        type="text"
        [(ngModel)]="categoryDescription"
        name="categoryDescription"
        required
      />
      <div class="buttons">
        <button type="submit">Save</button>
        <button type="button" (click)="router.navigate(['/categories'])">
          Cancel
        </button>
      </div>
    </form>
  </div>
  