<div class="form-container">
    <h2>Edit element</h2>
    <form (ngSubmit)="updateElement()">
      <label for="elementName">Name of element:</label>
      <input
        id="elementName"
        type="text"
        [(ngModel)]="elementName"
        name="elementName"
        required
      />
      <label for="elementPrice">Price:</label>
      <input
        id="elementPrice"
        type="number"
        [(ngModel)]="elementPrice"
        name="elementPrice"
        required
        step="1"
        min="1"
      />
      <div class="buttons">
        <button type="submit">Save</button>
        <button type="button" (click)="routeBack()">
          Cancel
        </button>
      </div>
    </form>
  </div>
  